<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logic Reviews • Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" href="/images/icon.png">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/icon.png" width="30" height="27" class="d-inline-block align-text-top">
                    Logic Reviews
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>   
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <% if (!token || token == null) { %>
                            <a class="btn btn-outline-primary mx-3" href="/login">Log In</a>
                            <a class="btn btn-outline-primary" href="/signup">Sign Up</a>
                        <% } else { %>
                            <a class="btn btn-outline-primary" href="/logout">Log Out</a>
                        <% } %>
                    </form>
                </div>
            </div>
        </nav>
        <div class="main-wrapper">
            <div class="section">
                <div class="container">
                    <div class="row" style="margin: auto; padding: 10px; min-height: 94vh;">
                        <% for (var i = 0; i < movies.length; i++) { %>
                            <div class="col-sm-3">
                                <a href="/movie/<%= movies[i].data.id %>" style="color: inherit; text-decoration: none;">
                                    <div class="card border-info mb-3">
                                        <img class="card-img" src="/images/<%= movies[i].data.image %>" width="128" height="448" alt="<%= movies[i].data.name %> Review">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= movies[i].data.name %></h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>